.img {
    border-radius: 19px;
}

.infoWrapper {
    width: 488px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 16px;
}

.name {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
}

.id {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #8d929a;

    max-width: 64px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.city {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    display: flex;
    align-items: center
}

.price {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #3470ff;
}

.desc {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    margin-top: 32px;
}

.carInfo {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.cityWrapper {
    display: flex;
    column-gap: 16px;
}

.location {
    margin-right: 4px;
}