.wrapper {
    margin-top: 84px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 16px;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: #8d929a;
}

.selectWrap {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.filterBtn {
    border-radius: 12px;
    padding: 12px 51px;
    width: 156px;
    height: 44px;
    background: #3470ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    transition: background 0.3s ease-in;
}

.filterBtn:hover,
.filterBtn:focus {
    background: #0b44cd;
}