.img {
    border-radius: 14px;
    width: 276px;
    height: 268px;
    object-fit: cover;
}

.name {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    margin-bottom: 8px;
}

.model {
    color: #3470ff;
}

.textWrapper {
    margin-top: 16px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 276px;
    height: 40px;
}

.details li {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
}

.rentalPrice {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.descriptionWrapper {
    display: flex;
    justify-content: space-between;
}

.imgWrapper {
    position: relative;
}

.favoriteBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    fill: #f2f4f7;
    stroke-width: 2px;
    padding: 0;
}

.favoriteBtn:hover,
.favoriteBtn:focus {
    fill: #3470ff;
}