.img {
    border-radius: 14px;
    width: 276px;
    height: 268px;
    object-fit: cover;
}

.name {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    margin-bottom: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model {
    color: #3470ff;
}

.textWrapper {
    margin-top: 16px;
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 4px;
    width: 276px;
    height: 40px;
}

.details li {
    display: flex;
    column-gap: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
}

.rentalPrice {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.descriptionWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 276px
}

.imgWrapper {
    position: relative;
}

.favoriteBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    fill: #f2f4f7;
    stroke-width: 2px;
    padding: 0;
    transition: fill 0.3s ease-in;
}

.favoriteBtn:hover,
.favoriteBtn:focus {
    fill: #3470ff;
}

.line {
    stroke-width: 1px;
    stroke: #dadde1;
}